@using Client.Components

@page "/bio"

<PageTitle>
    Belnejoum | Biography
</PageTitle>

<div id="secondary-bg">
    <section>
        <header class="hero pt-10  text-center">
            <h1 class="mb-4">
                Biography
            </h1>
            <hr class="rule" />
        </header>
    </section>
    <section id="bio">
        <div class="max-w-2xl mx-auto  text-center">
            <div class="p-4">
                <div class="flex flex-col md:flex-row justify-between">
                    <p class="p-0 md:pr-4 text-left md:m-0 md:p-0 md:w-1/2">Belnejoum is an American <b>symphonic black metal
                            band</b>
                        that masterfully
                        intertwines the
                        <b>ferocity and raw energy</b> of black metal with the sweeping, majestic grandeur of its
                        symphonic
                        counterpart. Rooted in <b>neo-classical influences</b>, their compositions transcend the
                        traditional
                        boundaries of the genre, offering <b>intricate arrangements</b>, <b>top-tier production
                            quality</b>,
                        and a breathtaking diversity of instrumentation.
                    </p>
                    <div class="pic-frame w-full md:w-1/2">
                        <img src="/img/oswalt-big.png" alt="Qaswad" class="my-4 md:my-0" />
                        <div class="caption">
                            <i>Qaswad</i>
                        </div>
                    </div>

                </div>


                <div class="flex flex-col md:flex-row justify-between">

                    <p class="p-4 text-balance md:m-0 md:text-left md:px-0 text-justify	md:my-4">The band's origins trace back to its
                        visionary
                        founder, <b>Qaswad</b>, who serves as
                        the
                        <b>vocalist,
                            keyboardist, and principal composer</b>. To elevate their sonic ambition, Belnejoum brought
                        on
                        <b>Francesco Ferrini</b>, famed for his work with <b>Fleshgod Apocalypse</b>, who skillfully
                        orchestrated the symphonic and keyboard elements within Qaswad's compositions. Joining this
                        creative
                        powerhouse was <b>Fabio Bartoletti</b>, also of Fleshgod Apocalypse, whose <b>virtuosic guitar
                            work</b> and compositional input further solidified the band's distinctive sound for their
                        debut
                        release.
                    </p>
                </div>
                <div class="flex-col md:grid md:grid-cols-2 justify-between my-4">
                    <div class="pic-frame mb-4  md:m-0 md:mr-4">
                        <img src="/img/fabio-bartoletti.png" alt="Francesco Ferrini" class="w-full" />
                        <div class="caption">
                            <i>Fabio Bartoletti</i>
                        </div>
                    </div>
                    <div class="pic-frame  md:m-0">
                        <img src="/img/francesco-ferrini.png" alt="Francesco Ferrini" class="" />
                        <div class="caption">
                            <i>Francesco Ferrini</i>
                        </div>
                    </div>
                </div>
                <div class="flex-col md:flex-row justify-between">
                    <p class="p-4 text-left md:p-0 md:m-0 md:mr-4 md:my-8">Adding yet another layer of brilliance, <b>George
                            Kollias</b> of <b>Nile</b> lent his
                        <b>unparalleled
                            drumming expertise</b>, infusing the compositions with dramatic intensity and precision.
                        Production duties were spearheaded by <b>Ehab Sami</b>, whose technical expertise and creative
                        vision ensured that every nuance of the album's intricate arrangements was brought to life. This
                        extraordinary collaboration was further refined at the legendary <b>Studio Fredman</b>, under
                        the
                        direction of <b>Fredrik Nordström</b>, a titan in metal production known for shaping the sound
                        of
                        countless iconic releases. Together, this ensemble of talent delivered an album that
                        <b>redefines
                            the boundaries of symphonic black metal</b>.
                    </p>
                </div>
                <div class="grid grid-cols-1 md:grid-cols-3 mt-4 gap-4">
                    <div class="pic-frame mb-4">
                        <img src="/img/rich-gray.png" alt="Qaswad" class="w-full" />
                        <div class="caption">
                            <i>Rich Gray</i>
                        </div>
                    </div>
                    <div class="pic-frame mb-4">
                        <img src="/img/tamara-jokic.png" alt="Qaswad" class="w-full" />
                        <div class="caption">
                            <i>Tamara Jokic</i>
                        </div>
                    </div>
                    <div class="pic-frame">
                        <img src="/img/ehab-sami.png" alt="Qaswad" class="w-full" />
                        <div class="caption">
                            <i>Ehab Sami</i>
                        </div>
                    </div>
                </div>
                <div class="pic-frame">
                    <img src="/img/george-kollias.png" alt="Qaswad" class="w-full mt-4 mb-8" />
                    <div class="caption">
                        <i>George Kollias</i>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>
<style>
    #main {
        top: 65px;
    }

    .hero {}
</style>