@using Client.Components

@page "/bio"

<PageTitle>
    Belnejoum | Biography
</PageTitle>

<section>
    <header class="hero pt-10  text-center">
        <h1 class="mb-4">
            Biography
        </h1>
        <hr class="rule" />
    </header>
</section>
<section id="bio">
    <div class="container mx-auto  text-center">
        <div class="p-4">
            <p> Belnejoum is an American <b>symphonic black metal band</b> that masterfully intertwines the <b>ferocity and raw energy</b> of black metal with the sweeping, majestic grandeur of its symphonic counterpart. Rooted in <b>neo-classical influences</b>, their compositions transcend the traditional boundaries of the genre, offering <b>intricate arrangements</b>, <b>top-tier production quality</b>, and a breathtaking diversity of instrumentation. 
            </p> 
            <p> The band's origins trace back to its visionary founder, <b>Qaswad</b>, who serves as the <b>vocalist, keyboardist, and principal composer</b>. To elevate their sonic ambition, Belnejoum brought on <b>Francesco Ferrini</b>, famed for his work with <b>Fleshgod Apocalypse</b>, who skillfully orchestrated the symphonic and keyboard elements within Qaswad’s compositions. Joining this creative powerhouse was <b>Fabio Bartoletti</b>, also of Fleshgod Apocalypse, whose <b>virtuosic guitar work</b> and compositional input further solidified the band’s distinctive sound for their debut release. 
            </p> 
            <p> Adding yet another layer of brilliance, <b>George Kollias</b> of <b>Nile</b> lent his <b>unparalleled drumming expertise</b>, infusing the compositions with dramatic intensity and precision. This extraordinary lineup culminated in a debut album crafted at the legendary <b>Studio Fredman</b> under the direction of <b>Fredrik Nordström</b>, a titan in metal production known for shaping the sound of countless iconic releases. Together, this ensemble of talent delivered an album that <b>redefines the boundaries of symphonic black metal</b>. 
            </p>
        </div>
    </div>
</section>

<style>
    #main {
        top: 65px;
    }

    .hero {
    }
</style>