@using Client.Components

@page "/contact"

<PageTitle>Belnjoum | Contact</PageTitle>

<section>
    <header class="hero pt-10  text-center">
        <h1 class="mb-4">
            Contact
        </h1>
        <hr class="rule" />
    </header>
</section>

<section>
    <div class="container mx-auto">
        <div class="p-4 text-center">
            <p class="p-default">
                If you would like to get in touch with Belnejoum, please feel free to reach out via email.
            </p>
            <br />
            <a class="btn" href="mailto:belnejoum@gmail.com" role="button">
                <svg class="btn-icon mr-2" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                    fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <path d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z"></path>
                    <polyline points="22,6 12,13 2,6"></polyline>
                </svg>
                <span>Email Me</span></a>

        </div>
    </div>
</section>
<SocialSection />
