@using Client.Components

@page "/"

<PageTitle>Belnejoum | Home</PageTitle>

<section>
    <Hero>
        <img id="logo" src="/img/logo.png" />
    </Hero>
</section>
<SocialSection/>   
<section id="about" class="py-4">
</section>