@using Client.Components

@page "/"

<PageTitle>Belnejoum | Home</PageTitle>

<section>
    <HeroMain>
        <img id="logo" src="/svg/belnejoum-logo.svg" class="mx-auto" />
    </HeroMain>
</section>
<SocialSection />
<section id="about" class="py-4">
</section>