@using Client.Components

@page "/"

<PageTitle>Belnejoum | Home</PageTitle>

<section>
    <HeroMain>
        <div>
            <img id="logo" src="/img/logo.png" />
        </div>
    </HeroMain>
</section>
<SocialSection />
<section id="about" class="py-4">
</section>