@page "/merch"

<section>
    <header class="hero pt-10  text-center">
        <h1 class="mb-4">
            Merch
        </h1>

        <hr class="rule" />
    </header>
</section>
<section>
    <div class="container mx-auto">
        <p class="text-xl">
            Coming soon!
        </p>
    </div>
</section>
<style>
    #main {
        top: 65px;
    }

    .hero {}
</style>