@using Client.Components

@page "/music"


<PageTitle>Belnejoum | Music</PageTitle>

<link href="/css/pages/music.css" rel="stylesheet" />
<div id="secondary-bg">
    <section>
        <header class="hero pt-10  text-center">
            <h1 class="mb-4">
                Music
            </h1>
            <hr class="rule" />
        </header>
    </section>
    <section>

    </section>
    <section id="youtube_container">
        <div class="container mx-auto">
            <div class="p-4">
                <iframe class="w-full aspect-video mx-auto"
                    src="https://www.youtube.com/embed/S86_AUnjaOc?si=1pwWUAjsguwUuF5H" title="YouTube video player"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
        </div>
    </section>
    <SocialSection />
</div>
<style>
    #main {
        top: 65px;
    }

    .hero {}
</style>