@* @using Client.Components *@

@page "/music"


<PageTitle>Alec Rozsa | Music</PageTitle>

<link href="/css/pages/music.css" rel="stylesheet" />

<section>
    <header class="hero lg:flex lg:flex-row">
        
    </header>
</section>
<section>

</section>
<section id="orchestral_samples">
    <div class="container mx-auto">
        <div class="p-4">
        </div>
    </div>
</section>
