@using Client.Components

@page "/services"

<link href="/css/pages/music.css" rel="stylesheet" />

<section>
    <header class="hero">
        <img class="hero-img-desktop absolute top-0 right-0 bottom-0 left-0 hidden lg:block"
            src="/img/alec-playing-7-string-topaz-upscale-1920w.jpg" alt="Alec Rozsa playing a 7-string guitar" />
        <img class="hero-img absolute top-0 right-0 bottom-0 left-0"
            src="/img/alec-playing-7-string-topaz-upscale-1920w.jpg" alt="Alec Rozsa playing a 7-string guitar" />
        <div class="hero-text absolute right-0 bottom-0 left-0 text-center">
            <h1 class="text-6xl mt-6 text-white">Alec Rozsa</h1>
            <hr class="rule" />
            <h3 class="text-3xl uppercase mb-6">Services</h3>
            <a href="/my-fiverr" class="btn cta">Hire Me!</a>
        </div>
    </header>
</section>
<section id="services">
    <div class="container mx-auto">
        <div class="flex flex-col flex-wrap text-center mx-auto">
            <div class="w-full md:w-1/2 p-4 mx-auto">
                <div class="card">
                    <h3 class="text-2xl font-bold">Music Composition</h3>
                    <hr class="rule" />
                    <p class="p-default">Original music tailored for <b>film</b>, <b>television</b>, <b>video games</b>,
                        and other media. Alec brings a unique orchestral and metal fusion to every piece, ensuring your
                        project stands out with compelling soundscapes.</p>
                    <br />
                    <a href="/fiverr" class="btn" role="button">
                        <span>Order Now</span> <svg xmlns="http://www.w3.org/2000/svg" width="1rem" height="1rem"
                            fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                            stroke-linejoin="round" viewBox="0 0 24 24">
                            <path d="M9 18l6-6-6-6" />
                        </svg>
                    </a>
                </div>
            </div>
            <div class="w-full md:w-1/2 p-4 mx-auto">
                <div class="card">
                    <h3 class="text-2xl font-bold">Orchestral Arrangements</h3>
                    <hr class="rule" />
                    <p class="p-default">Custom orchestral arrangements that blend classical depth with modern dynamics.
                        Perfect for expanding your music with lush strings, brass, and woodwind sections that capture
                        emotional nuance.</p>
                    <br />
                    <a href="/fiverr" class="btn" role="button">
                        <span>Order Now</span> <svg xmlns="http://www.w3.org/2000/svg" width="1rem" height="1rem"
                            fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                            stroke-linejoin="round" viewBox="0 0 24 24">
                            <path d="M9 18l6-6-6-6" />
                        </svg>
                    </a>
                </div>
            </div>
            <div class="w-full md:w-1/2 p-4 mx-auto">
                <div class="card">
                    <h3 class="text-2xl font-bold">Guitar Recording</h3>
                    <hr class="rule" />
                    <p class="p-default">High-quality six and seven-string guitar recordings, incorporating Alec's
                        signature metal style and precision. Ideal for adding depth and complexity to your tracks or
                        collaborating on unique guitar-based projects.</p>
                    <br />
                    <a href="/fiverr" class="btn" role="button">
                        <span>Order Now</span> <svg xmlns="http://www.w3.org/2000/svg" width="1rem" height="1rem"
                            fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                            stroke-linejoin="round" viewBox="0 0 24 24">
                            <path d="M9 18l6-6-6-6" />
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>